<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bugoo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C2F55C81F14643C009E92FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C2F55E11F14643C009E92FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C2F55EC1F14643C009E92FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
